{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>FACILITIES</title>

<div class="basic">
{% include 'navbar.html'%}   
</div>

<div class="center center_div">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<div style="padding:10px 10px 0px 0px;">
  <div class="divScroll1">
    <div class="welTxt" style="padding:0px 0px 10px 0px;">INTERNET &amp; V-SAT SYSTEM </div>
    <div class="mainTxt" style="padding:00px 0px 0px 0px; font-size:12px;">
      <ul>
        <li style="padding-bottom:8px;">Totally Wi-fi Enabled campus</li>
        <li style="padding-bottom:8px;">Broad band lines  with 2mbps  speed</li>
        <li style="padding-bottom:8px;">DEL NET  Network for library for accessing Journals as well as World digital Library</li>
        <li style="padding-bottom:8px;">V-SAT Technology with well decorated class room for Video Conference</li>

        </ul>
    </div>
  </div>
</div>
<td align="left" valign="top"><div class="welTxt" style="padding:0px 0px 10px 0px;">SEMINAR HALL </div>
          <div class="mainTxt" style="padding:00px 0px 0px 0px; font-size:12px;">
            <ul>
              <li style="padding-bottom:8px;">Total area of this Hall is 200 Sq.m </li>
              <li style="padding-bottom:8px;">This Hall avails 350 seats with desk </li>
              <li style="padding-bottom:8px;">In build dias with 7 no. of seats</li>
              <li style="padding-bottom:8px;">Projector machine facility is available </li>
            </ul>
          </div></td>
        
      <tr>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top"><div class="welTxt" style="padding:0px 0px 10px 0px;">COMPUTER CENTRE </div>
          <div class="mainTxt" style="padding:00px 0px 0px 0px; font-size:12px;">
            <ul>
              <li style="padding-bottom:8px;">Total are of this Computer Centre is 250 Sq.m </li>
              <li style="padding-bottom:8px;">This centre avails 100 PCs with Wi-Fi Service </li>
              <li style="padding-bottom:8px;">This centre avails internet serfing from 10 A.M to 8 P.M on all working days</li>
              </ul>
          </div></td>
      </tr>


</html>