{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>FACULTY</title>

<div class="basic">
{% include 'navbar.html'%}   
</div>

<div class="center center_div">
<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h1>Teacher's Name</h1>
    <p><li>Mr.Sandip Rai</li>
          <li>Mr.Anirban Sen</li><li>Mr.ANIS MAITY</li><li>Mrs.RUPSA ROY</li><li>Mr.Priyanka Pas</li><li>Mr.Suvajeet Day</li><li>Mr.sourav bose</li><li>Mr.vicky bonnik</li><li>Mr.anirban bhakta</li></p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h1>Qualification</h1>
    <p><li>PHD</li>
          <li>B.Tech</li><li>M.Tech</li><li>PHD</li><li>B.Tech</li><li>M.Tech</li><li>PHD</li><li>M.Sc</li><li>B.Sc</li></p>
  </div>
</div>
</div>
</body>
</html>

